<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pot o' Gold</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/styles/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand page-scroll" href="#page-top">  Pot o' Gold</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll visible-lg" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll visible-lg" href="#about">Meet the devs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Sign up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->

    <section id="intro" class="intro-section visible-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Pot o' Gold</h1>
                    <p>A simple system to encourage development on Github repositories that matter to you.</p>
                    <a class="btn btn-default page-scroll" href="#about">Scroll Down!</a>
                </div>
            </div>
            <div class="row" style="padding-top: 50px;">
                <div class="col-lg-12">
                <img src="static/images/bot3.png" class="img-responsive center-block" alt="you're missing out on our amazing logo" style="max-width:350px;">
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section visible-lg">
        <!-- Three columns of text below the carousel -->
        <div class="container">
      <div class="row">
        <h2 style="margin-top: -80px;" align ="center">Meet the devs<br> <br></h2>
        <div class="col-lg-4">
            <br>
          <img class="img-circle" src="static/images/ben.png" alt="You're missing out on: Ben" width="280" height="280">
          <h2>Benjamin Wilson</h2>
          <h4>Back-End Developer</h4>
          <p>The one and only.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="static/images/francois.jpeg" alt="You're missing out on: Francois" width="280" height="280">
          <h2>François Benaiteau</h2>
          <h4>Back-End Developer</h4>
          <p>Putting the F into Francais.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <br>
          <img class="img-circle" src="static/images/tom2.jpeg" alt="You're missing out on: Tom" width="280" height="280">
          <h2>Thomas Lutzeyer</h2>
          <h4>Front-End &amp; Design</h4>
          <p>Html is life.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="margin-top: -80px;">
                    <h1>Sign up now!</h1>
                    <small>The robot is watching...</small>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                </br>
                    <p>
                    <a href="/register/step1"><button type="button" class="btn btn-success btn-lg">Get started</button></a></span>
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top: 50px;">
                <div class="col-lg-12 col-md-12">
                <img src="static/images/bot2.gif" class="img-responsive center-block" alt="you're missing out on our amazing logo" style="max-width:350px;">
                </div>
            </div>
        </div>
    </section>

    <div class="container marketing">
        <footer>
            <p class="pull-right"><a href="#page-top">Back to top</a></p>
            <p>&copy; 2015 Thomas Lutzeyer &middot; </p>
        </footer>
    </div><!-- /.container -->


    <!-- jQuery -->
    <script src="static/scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/scripts/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="static/scripts/jquery.easing.min.js"></script>
    <script src="static/scripts/scrolling-nav.js"></script>
</body>

</html>
